// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-signin {
  width: 320px;

  label {
    font-size: 18px;
  }
  .field {
    margin-bottom: 10px;
  }
  .actions {
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
.change-gravatar {
  margin-bottom: 40px;
}
.sidebar {
  margin-bottom: 40px;
  width: 320px;
}
